<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_item-list">
            <li class="main-header_item"><a href="/">Shop</a></li>
            <li class="main-header_item"><a href="/products">Products</a></li>
            <li class="main-header_item"><a href="/cart">Cart</a></li>
            <li class="main-header_item"><a href="/addproduct">Add Product</a></li>
            <li class="main-header_item"><a href="/admin/products">Admin Product</a></li>
        </ul>
    </nav>
</header>